Package: disiplin-defteri
Version: @VERSION@
Section: education
Priority: optional
Architecture: amd64
Depends: @DEPENDS@
Installed-Size: @SIZE@
Maintainer: Disiplin Defteri <disiplin-defteri@ornek.okul>
Homepage: https://ornek.okul/disiplin-defteri
Description: Okul disiplin süreçleri ve evrak üretimi
 Ortaöğretim kurumlarında disiplin süreçlerini (dilekçe/ihbar, rehberlik
 aşaması, müdür kararı, disiplin kurulu, itiraz, kapanış) uçtan uca yürütür ve
 her adımda gereken resmi evrakı PDF olarak üretir. Ortaöğretim Kurumları
 Yönetmeliği md. 157-206'daki iş günü tabanlı yasal süreleri otomatik izler.
 .
 Program tek kullanıcılıdır, internet veya ağ bağlantısı gerektirmez; tüm
 veriler kullanıcının kendi bilgisayarında saklanır.
